services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: pr_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d pr_db"]
      interval: 3s
      timeout: 3s
      retries: 10
    volumes:
      - db_data:/var/lib/postgresql/data

  migrator:
    build:
      context: ..
      dockerfile: docker/dockerfile.migrator
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: pr_db
    depends_on:
      db:
        condition: service_healthy
    restart: "no"

  pr_service:
    build:
      context: ..
      dockerfile: docker/dockerfile
    environment:
      LOGLEVEL: debug
    depends_on:
      migrator:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    ports:
      - "8080:8080"

volumes:
  db_data: